<div>
    <h1>This is basic angular</h1>
    <p class="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos corrupti laborum iure iusto possimus alias, consequuntur quibusdam, molestias, autem labore eius fugit? Maxime, ipsum itaque debitis eos ipsa illum ullam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos corrupti laborum iure iusto possimus alias, consequuntur quibusdam, molestias, autem labore eius fugit? Maxime, ipsum itaque debitis eos ipsa illum ullam.</p>
</div>