<ul>
    <li>Books: {{books}}</li>
    <li>Books: {{books|json}}</li>
    <li>*</li>
    <li>Today: {{today}}</li>
    <li>Today: {{today|date}}</li>
    <li>Today: {{today|date:'short'}}</li>
    <li>Today: {{today|date:'medium'}}</li>
    <li>Today: {{today|date:'long'}}</li>
    <li>Today: {{today|date:'dd-MM-yyyy@hh-mm-ss'}}</li>
    <li>Now: {{now|date:'dd-MM-yyyy'}}</li>
    <li>*</li>
    <li>Name: {{name}}</li>
    <li>Name: {{name|uppercase}}</li>
    <li>Name: {{name|lowercase}}</li>
    <li>Name: {{name|capitalise}}</li>
</ul>