<h1>This is my app</h1>

<div>
    <app-thumbnail [describe]="thumbs[0].describe" [imagePath]="thumbs[0].path" [title]="thumbs[0].title">
    </app-thumbnail>
</div>
<div>
    <app-thumbnail [imagePath]="thumbs[1].path" [title]="thumbs[1].title"></app-thumbnail>
</div>
<div>
    <app-thumbnail [imagePath]="thumbs[2].path" [title]="thumbs[2].title"></app-thumbnail>
</div>
<div>
    <app-thumbnail [imagePath]="thumbs[3].path" [title]="thumbs[3].title"></app-thumbnail>
</div>
<div class="clear"></div>