
div{
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    float: left;
    width: 22%;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}

div.clear{
    clear: both;
}